extends layout

block content
  div(class='list-page')
    h1= title
    if current_user
      p(class='create-new-message')
        a(href='/clubhouse/message/new') Create a new message
    hr
    h3 Messages
    hr
    dl
      each message in messages
        dt=message.title 
        dd=message.content
        if current_user && current_user.member === true 
          dd(class="message-indent message-origin") #[strong By:] #{message.user.name}
          dd(class="message-indent") #[strong Created at:] #{moment(message.timestamp).format("YYYY/MM/DD, HH:MM") }
        if current_user && current_user.admin === true && current_user.member === true
          dd(class="message-indent")  
            a(href=message.url+'/delete') Delete message
        hr
  
    
