extends layout

block content
  div(class='list-page detail-page')

    h1 #{user.username}
    
    p #[strong Name:] #{user.name}
    
    hr  
    dl
      each message in user_messages
        dt 
          a(href=message.url) #{message.title}
        dd #[strong Created at:] #{moment(message.timestamp).format("YYYY/MM/DD, HH:MM") }
        hr
      else
        p This user has no messages.
        hr
          
    if !user.member 
      p #[strong This user is not a club member.]
      a(href=user.url+'/join_club') Join the club
    else 
      p #[strong This user is a club member.]
      
      
